# Replace "YOUR_VT_API_KEY" with your VirusTotal API key
VTAPI_KEY=""
BASH_REQUIREMENTS_YAML="./data/bash-requirements.yml"
PYTHON_REQUIREMENTS="./data/python-requirements.txt"
AWS_REGION="us-west-1"
AWS_PROFILE="default"
ANALYTICS_GROUP="autosea"
ANALYTICS_STREAM="autosea-usage"
IPGEO_API_KEY=""